/* body{
    background-color: aqua;
} */
/* p,h2{
    background-color: rgb(187, 237, 6);
    color: rgb(16, 19, 19);
}
.para{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
    color: brown;

} */
 /* div p{
    background-color: antiquewhite;
 } */
 /*  for all p in div */
 /* div>p{
    background-color: antiquewhite;
 } */
 /* only for div ka child */
 /* div+p{
    background-color: aquamarine;
 /* } 
 /*only side wla */
  /* div~p{
    background-color: aquamarine;
 }  */
 /*after div all*/
p:hover{
    background-color: aquamarine;
    font-size: xx-large;
}
p::before{
    content:"hiiiiiiii";
    }
    p::after{
        background-color: brown;
        content:"byeeeeeeeeee";
    }
p::selection{
    background-color: chartreuse;
}
p:nth-child(2){
    background-color: darkorchid;
}
div p:nth-of-type(1){
    background-color: darksalmon;
}